/* Typo */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* ==============
   Style de base
   ============== */

html {
  color: #ffffff;
  background-color: #000000;
  padding: 3%;
  scroll-behavior: smooth;
}

h1,
h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 6rem;
  display: flex;
  justify-content: center;
  padding-top: 3%;
}

h3 {
  font-family: "Courier New", Courier, monospace;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jerometexte {
  font-size: 2rem;
}

nav {
  color: #1c1c1c;
  display: flex;
  gap: 2rem;
  text-transform: uppercase;
}

.grid {
  display: grid;
  gap: 1rem;
  padding: 15rem;
}

.grid h2 {
  margin-top: 4px;
  color: #555;
  font-weight: 400;
}

.grid img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.3rem;
}
a:hover {
  color: rgb(131, 131, 131);
}

.jerome img {
  max-width: 100%;
  filter: grayscale(60%);
}

.bandeannonce {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

footer {
  background-color: #222;
  color: #fff;
  padding: 50px 0;
  border-radius: 50px 50px 0 0;
  text-align: center;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1);
}

.footer-content {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.footer-content h3 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #f1c40f;
}

.footer-content p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #bbb;
}

.footer-content .socials {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.footer-content .socials li {
  margin: 0 15px;
}

.footer-content .socials a {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #f1c40f;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
}

.footer-content .socials a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.footer-content .socials a:hover {
  transform: translateY(-5px);
}

.footer-bottom {
  background-color: #111;
  padding: 15px 0;
  border-radius: 0 0 50px 50px;
  margin-top: 40px;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
  color: #bbb;
}

@media only screen and (min-width: 600px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.2rem;
  }
}

@media only screen and (min-width: 800px) {
  .propos {
    column-count: 2;
    gap: 2.5rem;
  }
}

/* =======================
   EXEMPLE de Media Query
   ======================= */
